.footer {
  padding: 0 $gap;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  color: $color-light;
  background-color: rgba($color-dark, .8);

  &__container {
    display: grid;

    @extend %container;
    justify-items: self-end;
    align-items: center;
    grid-gap: 2 * $gap;

    @include md-min {
      grid-template-columns: auto 1fr;
    }

    @include md {
      grid-template-columns: auto;
      justify-items: center;
      grid-template-rows: $gap;
      grid-gap: 5px;
      padding-top: 10px;
    }
  }

  &__title {
    display: inline-block;

    margin-right: 0.5em;

    text-align: center;
    letter-spacing: 0.33em;
    text-transform: uppercase;

    color: $color-gray;

    font-weight: 100;

  }

  &__contact {
    display: inline-block;

    font-weight: 400;

  }

  &__social {
    display: grid;
    justify-content: center;

    padding: 10px;
    grid-gap: 10px;

    grid-template-columns: repeat(7, auto);

    .fab,
    .fas{
      font-size: 2rem;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $color-accent;
        transform: scale(1.2);
      }

      @include md {
        font-size: 4vw;
      }

      @include sm {
        font-size: 6vw;
      }
    }
  }
}

