.gallery {
  padding: $gap $gap (2 * $gap) $gap;

  @include md {
    padding: $gap $gap (3 * $gap) $gap;
  }

  &__container {
    display: grid;

    @include lg-min {
      grid-gap: $gap;
      grid-template-areas: "a1 a1 a1 a2"
                            "a1 a1 a1 a3"
                            "a1 a1 a1 a4"
                            "a5 a6 a7 a8"
                            "a9 a12 a12 a12"
                            "a10 a12 a12 a12"
                            "a11 a12 a12 a12";

      grid-template-columns: repeat(4, 1fr);
    }
    @include xl-md {
      grid-gap: 10px;
      grid-template-areas: "a1 a1 a2"
      "a1 a1 a3"
      "a4 a4 a5"
      "a4 a4 a6"
      "a7 a7 a8"
      "a7 a7 a9"
      "a10 a10 a11"
      "a10 a10 a12";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md {
      font-size: 1.125rem;

      grid-gap: 10px;
      grid-template-areas: "a1 a1 a1"
      "a2 a3 a4"
      "a5 a5 a5"
      "a6 a7 a8"
      "a9 a9 a9"
      "a10 a11 a12";
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
  background-color: $color-gray-light;
  display: flex;

  &__image {
    background-color: #cfcfcf;
    transition: transform 0.5s;


    width: 100%;
    height: 100%;

    flex-grow: 1;
    overflow: hidden;
    box-sizing:content-box;
    object-fit: cover;

    & img {
        overflow: hidden;
      width: 100%;
      height: 100%;
        margin: 0;
        transition: transform 0.5s;
      background-color: #cfcfcf;
      object-fit: cover;
      box-sizing:content-box;

    }
  }

  &:hover .gallery-item__image {
    transform: scale(1.1);
  }
}

@for $i from 1 through 12 {
  .gallery-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}


.gallery__title {
  text-align: center;
}



h1 {

  span {
    text-shadow: 0 0 2px rgba($color-gray,.2);

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-animation: textAnimation 80s linear infinite;

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }
}

@-webkit-keyframes textAnimation {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.minimized {
  cursor: pointer;
}
#magnify {
  display: none;
  position: fixed;
  max-width: 1000px;
  padding: $gap;
  height: auto;
  z-index: 9999;
}
#magnify img {
  width: 100%;
}
#overlay {
  display: none;
  background: $color-dark;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}
#close-popup {
  width: 30px;
  height: 30px;
  background: $color-light;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}
@keyframes rota {
  25% { transform: rotate(360deg); }
}
#close-popup:hover {
  animation: rota 4s infinite normal;
  animation-iteration-count: 1;
}
