.gallery {
  padding: $gap $gap (2 * $gap) $gap;

  @include md {
    padding: $gap $gap (3 * $gap) $gap;
  }

  &__container {
    display: grid;

    @include lg-min {
      grid-gap: $gap;
      grid-template-areas: "a1 a1 a1 a2"
                            "a1 a1 a1 a3"
                            "a1 a1 a1 a4"
                            "a5 a6 a7 a8"
                            "a9 a12 a12 a12"
                            "a10 a12 a12 a12"
                            "a11 a12 a12 a12";

      grid-template-columns: repeat(4, 1fr);
    }
    @include xl-md {
      grid-gap: 10px;
      grid-template-areas: "a1 a1 a2"
      "a3 a3 a4"
      "a5 a5 a6"
      "a7 a7 a8"
      "a9 a9 a10"
      "a11 a11 a12";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md {
      font-size: 1.125rem;

      grid-gap: 10px;
      grid-template-areas: "a1 a1 a1"
      "a2 a3 a4"
      "a5 a5 a5"
      "a6 a7 a8"
      "a9 a9 a9"
      "a10 a11 a12";
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    padding-top: $gap;
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
  background-color: $color-gray-light;
  min-height: calc(25vw - 13.333px);



  @media (max-height: 640px) {
    min-height: calc(33vw - 13.333px);
  }

  &__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-dark;
    opacity: 0.3;

    transition: opacity 0.5s ease-in-out;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://qnopka.github.io/tz2/assets/img/1000x600.png");

    transition: transform 0.5s;

    background-position: 50% 50%;
    background-size: cover;
  }

  &:hover .gallery-item__overlay {
    opacity: 0.7;
  }

  &:hover .gallery-item__image {
    transform: scale(1.1);
  }
}

@for $i from 1 through 12 {
  .gallery-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}


.gallery__title {
  text-align: center;
}

.gallery__title h1{
  text-transform: uppercase;
  display: block;
}

.text{
  letter-spacing: 4px;
  margin-bottom: 20px;
  animation: text 3s infinite;

}

@keyframes text{
  0%{
    color: $color-dark;
  }
  30%{
    letter-spacing: 5px;
  }
  85%{
    letter-spacing: 4px;
  }
}



h1 {

  span {
    text-shadow: 0 0 2px rgba($color-gray,.2);
    
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    //-webkit-background-clip: text;
    background-clip: text;
    
    -webkit-text-fill-color: transparent;
    -webkit-animation: textAnimation 80s linear infinite;
    
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }
}

@-webkit-keyframes textAnimation {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
