$color-primary: #44596e;
$color-accent: #5263e7;
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-light: #ffffff;
$color-dark: #000000;


:root {
  --dark-background-color: #2b2b2b;
  --dark-text-color: #e5e5e5;
  --light-background-color: #ffffff;
  --light-text-color: #44596e;
  --grey-background-color: #7e7e7e;
  --grey-text-color: #e5e5e5;
}
